.card_container {
    margin-top: 40px;
    border-radius: 25px;
    background-color: $secondary-color;
    width: 100%;
    height: 400px; //en attendant de mettre les cards, pour la faire apparaitre...
}