.headerBand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.headerBand figure {
    margin: 0;
    width: 210px;
}

.headerBand figure img {
    width: 100%;
}