.nav-header {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 57px;
    display: flex;
    width: 100%;

    &_link {
        color: $primary-color;
        text-decoration: none;
        font-size: $big-fontsize;

        &:hover {
            text-decoration: underline;
        }
    }

}

.active {
    text-decoration: underline;
}