.hostInfo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-tags-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    h1 {
        margin: 0;
        margin-bottom: 2px;
        font-size: $basic-fontsize;
        font-weight: 430;

        @media screen and (min-width: $breakpoint-desktop) {
            font-size: 36px;
        }
    }

    h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 400;

        @media screen and (min-width: $breakpoint-desktop) {
            font-size: $basic-fontsize;
        }
    }
}

.tags-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: baseline;
}

.tagContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    border-radius: 5px;
    background: $primary-color;
    padding: 0 30px;

    @media screen and (min-width: $breakpoint-desktop) {
        flex-direction: column;
        height: 25px;
        border-radius: 10px;
    }
}

.tagButton {
    color: $tertiary-color;
    margin: 0;
    font-size: 10px;

    @media screen and (min-width: $breakpoint-desktop) {
        font-size: 14px;
    }
}